/* Los estilos de tu proyecto */

body {
	font-family: roboto;
}

nav ul li a {
	color:black;
}

max-width {
	max-width:100%;
	height:auto;
}



body > div:nth-child(4) > div > div
{
	margin: 0 auto;
}


body > div:nth-child(2) > div > div
{
	margin: 0 auto;
}

body > div:nth-child(6) > div > div
{
	margin: 0 auto;
}

body > div:nth-child(8) > div > div
{
	margin: 0 auto;
}

body > div:nth-child(3) > div > div
{
	margin: 0 auto;
}


body > div:nth-child(5) > div > div
{
	margin: 0 auto;
}


body > div:nth-child(7) > div > div
{
	margin: 0 auto;
}

body > div:nth-child(9) > div > div
{
	margin: 0 auto;
}



.vert-align {
	margin:0px;
	padding:20px;
	float:left;
	width:100%;
	position:absolute;
	transform:translateY(25%) translateX(-47%);
	left:50%;
}

.transparent {
	margin:0px;
	padding:20px;
	float:left;
	width:100%;
	position:absolute;
	top:40%;
	transform:translateY(70%) translateX(-77%);
	left:50%;
}


.taxi {
	background-image:url(../css/assets/images/taxi.jpg);
	background-size:cover;
	background-position:bottom;
	height:100vh;
	margin:0 auto;
	width:100%;
}

.card2 {
	border:1px solid white;
}

.conduce {
	background-image:url(../css/assets/images/conduce.jpg);
	background-size:cover;
	background-position:bottom;
	height:100vh;
	margin:0 auto;
	width:100%;
}


h5 {
	color:white;
}

/*
.iframe {
  border: 1px solid white;
}
